div.control {
  display: inline-block;
  padding-right: 1em;
}

table .cell {
  max-width: 100%;
}

table input.filter {
  min-width: 100%;
  width: 2em;
}

table td.click-to-filter {
  cursor: pointer;
}

table td.click-to-filter:hover {
  text-decoration: underline;
}

a.hidden {
  cursor: default;
}

body .sorting-by-this.descending:after {
  content: "▲";
}

body .sorting-by-this.ascending:after {
  content: "▼";
}